<ion-view view-title="PyConUk 2015">
  <ion-content class="padding-bottom">
      <img class="full-image" src="../img/pycon2015logo.png">
    <div class="list card">
      <div class="item item-divider item-positive icon icon-left icon-assertive ion-ios-people"> Main Conference</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-energized icon icon-left  ion-erlenmeyer-flask backdrop-"> Science Stream</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-assertive icon icon-left ion-university"> Education Stream</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-contentclas>
</ion-view>
